// Specific CSS for your home-page
#homepage{
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }

  .banner h1 {
    margin: 0;
    color: orange;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
  }

  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }

  .flexbox {
    align-items: center;
  }
}

.carousel-item {
  height: 500px; /* Adjust the height as needed */
}

/* Ensure images cover the entire carousel area */
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* This makes the image cover the entire area */
}

.mission {
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  padding: 0 15px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
