<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div id="homepage">
  <div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://res.cloudinary.com/dneopsx5s/image/upload/v1720554485/priscilla-du-preez-nF8xhLMmg0c-unsplash_1_twzvtw.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h1>Live it up</h5>
            <p>Move. Connect. Make memories.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/vCRvzOJ.jpeg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>Live it up</h5>
            <p>Move. Connect. Make memories.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/lxMR2v8.jpeg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>Live it up</h5>
            <p>Move. Connect. Make memories.</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>

  <div class="container"><div class="mission">
				<div class="mw-570 pt-230 pb-165 inner">
					<div class="mb-3 logo d-block d-xl-none logo_mobile">Startup</div>
					<h2>Our mission</h1>
					<div class="mt-20 mw-500 color-heading f-18 medium op-7 text-adaptive">
We aim to foster connections and enhance cultural and social experiences for both locals and visitors, celebrating the diversity and vibrancy of city living.
					</div>
					<div class="mt-50">
						<a href="#" class="btn btn-primary">Explore Events</a> 						<a href="#" class="btn btn-primary">Add your event</a>
					</div>
				</div>
			</div>
    </div>


<div class="container"><div class="cards"><div class="card-event">
  <img src="https://i.imgur.com/Jij4NkK.jpeg" />
  <div class="card-event-infos">
    <div>
      <h2>Sunset horse ride</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-event-pricing">£25.00</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar-bordered" />
  </div></div>
  <div class="card-event">
  <img src="https://i.imgur.com/1CW3gRc.jpeg" />
  <div class="card-event-infos">
    <div>
      <h2>Street food tasting</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-event-pricing">£15.00</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar-bordered" />
  </div></div>
  <div class="card-event">
  <img src="https://i.imgur.com/dYNP0sf.jpeg" />
  <div class="card-event-infos">
    <div>
      <h2>Skate lesson</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-event-pricing">£20.00</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUPo5IXzyyDR2NeWVFQYMTV51TXva7cs_joA&s" class="card-event-user avatar-bordered" />
  </div>
  </div>

  <div class="card-event">
  <img src="https://images.unsplash.com/photo-1652272885718-512ffd50bdee?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  <div class="card-event-infos">
    <div>
      <h2>Surf lesson</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-event-pricing">£30.00</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_EUT84uExcO802XeAk9PfLw-1HSk2owDAvQ&s" class="card-event-user avatar-bordered" />
  </div>
  </div>

  <div class="card-event">
  <img src="https://res.cloudinary.com/dneopsx5s/image/upload/v1720784306/kaylee-garrett-GaprWyIw66o-unsplash_bxtu72.jpg" />
  <div class="card-event-infos">
    <div>
      <h2>Yoga on the beach</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-event-pricing">£10.00</h2>
    <img src="https://res.cloudinary.com/dneopsx5s/image/upload/v1720788774/ludvig-wiese-d-MfHM-jHwc-unsplash_dpd9vz.jpg" class="card-event-user avatar-bordered" />
  </div>
  </div>

  <div class="card-event">
  <img src="https://i.imgur.com/LmO1NVP.jpeg" />
  <div class="card-event-infos">
    <div>
      <h2>Day trip to the desert</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-event-pricing">£120.00</h2>
    <img src="https://res.cloudinary.com/dneopsx5s/image/upload/v1720788762/matt-sings-T97ZXyhCok8-unsplash_thxo3w.jpg" class="card-event-user avatar-bordered" />
  </div>
  </div>
  </div>
</div>
</div>
