/* Public/stylesheets/booking_styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;

}

.container-booking {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #adb5bd;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;/* Center align content */
}

h1 {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 15px; /* Reduce space between fields */
  text-align: left; /* Left align labels */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  margin-top: 20px;
}

.main-btn{
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  font-size: 1.2em;
  color: #000000;
  background-color: #00fff7;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-btn:hover {
  background-color: #ff0000;
  transform: translateY(-2px);
  color: black;
}
